.container
  - @comment.errors.full_messages.each do |message|
    %ul
      %li= message
  = form_with(model: @comment, url: article_comments_path(@comment.article), method: 'post', local: true) do |f|
    %div
      = f.label :content, 'コメント'
    %div
      = f.text_area :content
    = f.submit '投稿', class: 'btn-primary'